root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{js,ts}]
indent_size = 2

[*.py]
indent_size = 4

# Indent size of 2 files below
[*.md]
indent_size = 2

[*.{yaml,yml}]
indent_size = 2

[*.{html,css,scss,less}]
indent_size = 2

[*.sh]
indent_size = 2
